/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* CUSTOM STYLE SHEET */

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Slackey', cursive;
    border: none;
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0px 2px 1px #000000;
}

#embossed h1 { text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000; color: #9c8468; opacity: 0.3; font: 80px 'Museo700'; }

strong {
    font-size: 25px;
    text-shadow: 0px 3px 2px #000000;
	
}

li {
    font-size: 20px;
    text-shadow: 0px 2px 2px #000000;
	text-align: left;
}

body {
    background-color: #000000; /* INITIAL BACKGROUND OF BODY*/
}

p {
	
}
.body-back {
    background-color: #6A9DE9 !important; /* YOU CAN SET COLOR HERE FOR CHANGING COLOR BACKGROUND*/
}

.video-counter {
}

/* GLOBAL  STYLES  */


h1, h2, h3, h4, h5, h6 {
}
.shadow-3D {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 12px 12px #001135,0px 18px 10px #444;
	
}

.hidden {
	display : none;
}
.text-shadow-large {
	text-shadow: 0px 15px 15px #4d4d4d;
}

.text-shadow-medium {
	text-shadow: 0px 10px 10px #4d4d4d;
}

.shadow-small {
	text-shadow: 0px 3px 3px #000000;
}

.main-color {
    color: #4d4d4d;
}

a {
    text-decoration: none;
}

.center {
	font-family: 'Slackey', cursive;
    text-align: center;
}

h1 {
	font-family: 'Slackey', cursive;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

h2 {
	font-family: 'Slackey', cursive;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-family: 'Slackey', cursive;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

h4 {
    padding: 30px;
    font-size: 20px;
    line-height: 25px;
}

.box-shadow {
box-shadow: 10px 10px 5px #888888;
}

.hm-back-color, .abt-back-color, .srvc-back-color, .sb-back-color {
    padding-top: 50px;
    padding-bottom: 50px;
}

.wapenschild{
    background: url(assets/img/bb_wapenschild.png);
    background-repeat: no-repeat;
} 
	
}
.sub-head {
    margin: 35px;
    font-size: 30px;
    text-align: center;
}

.divider {
    width: 600px;
    height: 4px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555;
}

.divider-small {
    width: 120px;
    height: 3px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #000;
}
.img-transparant {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.divider-two {
    width: 400px;
   	height: 3px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #000;
}

.margin-botom-50 {
    margin-bottom: 50px;
}

/* LEFT MENU / PANEL STYLES  */

.left-panel {
    position: fixed;
    display: table;
    height: 100%;
    width: 240px;
    left: -200px;
    top: 0;
    background: rgba(119, 63, 19, 0.5);
    z-index: 99999;
}
/* Login panel */
.comm-panel {
	
    
	position: fixed;
    /*display: table;*/
    height: 250px;
    width: 500px;
    left: 240px;
    top: -250px;
    background: rgba(119, 63, 19, 0.5);
    z-index: 99999;
	
}

.comm-text {
	margin: 20 auto;
    margin-top: 5px;
    margin-bottom: 5px;
	width: 180px;
    text-align: justify;
    font-size: 18px;
    
}


.menu-text {
    width: 180px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 40px;
}

.navigatation {
    padding-top: 20px;
    padding-left: 15px;
}

    .navigatation a {
        color: #fff;
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
        text-decoration: none;
    }

        .navigatation a:hover {
            /*color: #12CF7F;*/
            color:rgba(245, 200, 30, 0.8);
            cursor: pointer;
            transition: all linear 0.2s;
            font-size: 20px; /* DO NOT REMOVE THIS */
            text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #111 ;
        }

.Icon-trigger {
    display: table-cell;
}

    .Icon-trigger span {
        margin-bottom: 30px;
        margin-top: 10px;
        color: #fff;
        font-size: 40px;
    }

#social-links a, a:hover {
    color: #ffffff;
    display: table;
    text-decoration: none;
    font-size: 40px;
}

.Icon-trigger span:hover {
    cursor: pointer;
}



/* HOME SECTION STYLES */

#home-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

#counter-default {
    margin-top: 80px;
}



.bk-blue {
    background-color: #6E21E2;
}

.bk-green {
    background-color: #02FA33;
}

.bk-red {
    background-color: #FF0700;
}

.bk-pink {
    background-color: #FF00E0;
}

.medium {
    height: 5px;
}
/* ABOUT SECTION STYLES */

.abt-back-color {
    background-color: rgba(241, 196, 15, 0.6);
}

.progress {
    margin: 5px;
}

/* SERVICES SECTION STYLES */

.srvc-back-color {
    background-color: rgba(230, 126, 34, 0.7);
}

.member-back-color {
    background-color: rgba(241, 196, 15, 0.6);
}

/* SUBSCRIBE SECTION STYLES */

.sb-back-color {
    background-color: rgba(243, 156, 18,0.8);
    padding-bottom: 80px;
}

.set-sb {
    vertical-align: middle;
    margin-bottom: 50px;
    margin-top: 50px;
}

.input-set {
    height: 50px;
    color: #19CF7F;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}



/* Specials */ 
.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}






/* FOOTER SECTION STYLES */

#footer {
    font-size: 18px;
    text-align: right;
    font-weight: normal;
    padding: 20px;
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 767px) {
    html, body {
        margin-top: -5px;
    }
}

@media only screen and (max-width: 240px) {
    html, body {
        height: 96%;
    }

    .container {
        padding-left: 10px;
    }
}
